.sticky-note {
    background-color: #fffae6; /* Amarillo suave */
    border: 1px solid #e1d800;  /* Borde amarillo */
    border-radius: 8px;  /* Bordes redondeados */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);  /* Sombra suave */
    padding: 15px;
    margin-bottom: 20px;
}

.sticky-note .card-body {
    padding: 10px;
}
